/* Main page webhelp tweaks */
    /* Logo size and position */
    .wh_logo>img {
        height:40px;
        padding-right:15px;
        }
    
    /* Stop title from turning blue when hovered over */
    .wh_publication_title>a:hover{
        color:#ffffff;
        }
    
    /* Search box container size and background */
    .wh_main_page .wh_search_input {
        padding: 40px 0;
        background: url(../resources/images/bgr_right.png) right no-repeat #5E6573;
        }

/* Non-main page search bar tweaks (to set the correct image location) */
    .wh_search_input {
        background: url(../resources/images/bgr_right_small.png) right no-repeat #5E6573;
        }
    
    .wh_welcome:not(:empty){
        display:none;
        }
    
    /* Prevent table content from being hyphenated */
    *[class ~="topic/table"] {
        hyphens: none;
        }
/* *************************** */


/* Add RDA/LC-PCC/MLA/external icon after links */
    .rdatk:after {
        content:url(../resources/images/rda-icon.png);
        display:inline-block;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top center;
        width:27px;
        height:10px;
        padding-left:4px;
        }
    .lcpcctk:after {
        content:url(../resources/images/lcpcc-icon.png);
        display:inline-block;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top center;
        width:45px;
        height:10px;
        padding-left:4px;
        }
    .mlatk:after {
        content:url(../resources/images/mla-icon.png);
        display:inline-block;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top center;
        width:34px;
        height:10px;
        padding-left:4px;
       }
    .externallink:after {
        content:url(../resources/images/external-icon-sm.png);
        display:inline-block;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top center;
        width:19px;
        height:15px;
        padding-left:4px;
        }
/* *************************** */

/* Presentation tweaks */

    /* Reduce amount of whitespace at bottom of page and separating page content from child links at bottom of page */
    .wh_topic_content {
        margin-bottom: 30px !important; /* Default: 80px */
    }
    
    /* Suppress default note icon and padding */
    div.note {
        background-image: none !important;
        padding: 0.75em !important;
        }

    /* Publication TOC (left sidebar) positioning and presentation */
    
            /* Stop the expand/collapse marker from fading */    
            .wh-expand-btn:before {
                opacity: 1 !important; /* Default: 0.5 */
                }
                
            /* Slightly increase publication TOC indent */   
            .wh_pubication_toc ul ul {
                padding-left:1.25em; /* Default: 1em */
                }


    /* Color overrides to maintain a minimum 7:1 contrast ratio for accessibility */
     
        /* Publication TOC (left sidebar) */
        div.wh_publication_toc {
            background-color:#FAFAFA !important;
            }
        .wh_publication_toc .active > .topicref a {
            color:#2552AA !important;    
            }
        .wh_publication_toc span, .wh_publication_toc a, .wh_publication_toc a:visited, .wh_publication_toc a:hover {
            color:#505050 !important;
            }
            
        /* "On this page" (Topic TOC, right sidebar) */
        .wh_topic_toc a, a:hover {
            color:#2552AA;
            }

        /* Main page TOC */
        .wh_main_page_toc a{
            color:#2552AA;
            }
        
        /* Breadcrumbs*/
        .wh_breadcrumb li>span>span>a {
            color:#505050;
            }
        .wh_breadcrumb li.active>span>span>a{
            color:#2552AA;
            }   
        .wh_breadcrumb li>span.home>a {
            color:#505050;
            }
        .wh_tools {
            background-color:#f7fbff;      
            }
        
        /* Top menu link color */
        .wh_top_menu a {
            color:#FFFFFF;
            }
        
        /* General link color and behavior */
        
                /* General in-page text links */
               *[class ~= 'topic/xref'], *[class ~='topic/link']{
                   color:#2552AA;
               }
                /* Links in note boxes */        
                .note>*[class ~= 'topic/xref'], *[class ~='topic/link']{
                    color:#2552AA;                    
                }
                /* Underline on hover */
                a:hover {
                    text-decoration:underline;
                    }

/* Text other text styling */
    .centered {
        text-align:center !important
        }
    
    .largebold {
        font-weight:bold;
        font-size:larger;
        }

    .subtitle {
        font-weight:bold;
        font-size:x-large;
        }
        
    .normal-size-weight {
        font-weight:normal;
        font-size:initial;
        }

/* Styling for colophon table */
    table.colophon {
        max-width:600px !important;
        margin-left:auto;
        margin-right:auto;
        background-color:rgba(225, 245, 255, 1);
        border-collapse:separate;
        padding: 12px;
        border-radius:10px;
        margin-bottom:10px;
        page-break-inside:avoid;
        }

    table.colophon td {
        border:hidden;
        padding:0;
        }

/* Styling for MARC examples */
    .pageGroup { }
    
    .rdaPage { }
    
    div.rdaPageSubgroup {
        display: block;
        }
    
    /* RDA Toolkit page subheadings */
    p.subheading:before {
        content: "Subheading: ";
        font-weight: bold;
        }    
    p.subheading {
        page-break-after:avoid;
        display: block;
        font-weight:normal;
        }

    /* Former instruction numbers from original RDA */
    p.oldNumber:before {
        content: "Former number: ";
        font-weight: bold;
        }
    p.oldNumber {
        display:block;
        font-weight:normal;
        page-break-after:avoid;
        page-break-before:avoid;
        }
    
    /* Name of element or subheading in original RDA, if different */
    p.oldName:before{
        content: "Earlier name: ";
        font-weight:bold;
        }
    
    p.oldName {
        display:block;
        font-weight:normal;
        page-break-after:avoid;
        page-break-before:avoid;
        }

    /* Example containers */
    table.bpExample {
        max-width:800px !important;
        background-color:rgba(225, 245, 255, 1);
        border-collapse:separate;
        padding: 12px;
        border-radius:10px;
        margin-bottom:10px;
        page-break-inside:avoid;
        }
    
    tgroup.marcBlock {  }
    
    tr.marcContent {
        line-height:1 !important;
        padding: 0px !important;
        }
    
    tr.exampleConjunction, tr.exampleCaption {  }

    /* MARC field content */
    tr.marcContent > td {
        font-size:initial;
        font-weight:normal;
        text-decoration:none;
        line-height:1.125 !important;
        padding:0px 0px 3px 0px !important;
        page-break-inside:auto !important;
        border: hidden;
        }

    /* Insert a slash before bytes for fixed fields */
    td.marcBytes:before{
        content:"/";
        font-weight:normal;    
        }

    /* And, or, but etc. rows */
    tr.exampleConjunction > td {
        font-weight:bold;
        padding-top:6px;
        padding-bottom:6px;
        border: hidden;
        }
    
    /* Commentary rows */
    tr.exampleCaption td {
        font-weight: bold;
        font-size:small;
        padding-top:6px;
        padding-bottom:6px;
        line-height:1.2 !important;
        border: hidden;
        }

    /* MARC subfields */
    span.sf {
        color:blue;
        }

/* Disable punctuation processing for now except to hide relocated/duplicated punctuation included in isbd-minimal*/
/* 
span.isbd-full:hover, span.isbd-minimal:hover, span.isbd-internal:hover, span.isbd-integral:hover, span.isbd-aap:hover {
    background-color:white;
}
span.isbd-full {
    font-weight:600;
    color:red;
}
span.isbd-internal {
    color:purple;
    font-weight:600;
}
span.isbd-integral {
    color:blue;
    font-weight:600;
}
span.isbd-aap {
    color:black;
}
*/
span.isbd-minimal {
    display:none;
}
/* *************************** */